<footer class="footer bg-sano rounded-top text-center">
  <div class="container py-2">
    <p class="text-white my-2">
      Este sitio web no es propiedad ni está afiliada a La Iglesia de Jesucristo de los Santos de los Últimos Días (algunas veces llamada la Iglesia Mormona o Iglesia SUD). Las opiniones aquí expresadas no representan necesariamente la posición de la Iglesia. Las opiniones expresadas por los usuarios individuales son de responsabilidad de los usuarios y no representan necesariamente la posición de la Iglesia. Para visitar las páginas oficiales de la Iglesia, sírvase visitar
      <span>
      <a href="https://www.iglesiajesucristosud.org/">SUD</a> o <a href="https://www.comeuntochrist.org/">Mormon</a>
      &copy; {{autor.nombre + ' ' + autor.apellido}}
        </span>
    </p>
  </div>
</footer>

